{% extends 'main.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px; margin: 50px auto;">
    <h2 class="card-title text-center mb-4">Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" class="form-control" placeholder="Enter Your Username" required>
        <p></p>
        <input type="password" name="password" class="form-control" placeholder="Enter Your Password" required>
        <p></p>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">Not a registered user? <a href="{% url 'signup' %}">Sign Up</a></p>
    <p class = 'text-center mt-3'> Forgot your password? <a href="{% url 'reset_password' %}">Reset Password</a></p>
</div> 
{% endblock %}
